html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
	color:#223d4f;
}
h1,h2,h3,p{
	padding: 0;
        margin:0;
}
*{box-sizing: border-box;}
body {
	font-family: 'Open Sans' , Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: #549C79;
	text-decoration: underline;
}

a:visited {
	color:  #67c095;
}

label {
	display: block;
}

input, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: none;
	background-color: white;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 300;
	color: #223D4F;
	border-radius: 0;
	resize: none;
}
input:focus{
	outline: none;
	border: 0.5px solid #223D4F !important;
}
textarea:focus{
	outline: none;
	border: 0.5px solid #223D4F !important;
}

input:disabled {
	background-color: #ddd;
	border:none;
}

button{
	font-family: 'Open Sans' , Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 400;
	border-radius: 0;
	cursor: pointer;
	transition: 0.5s;

}
button:disabled{
	box-shadow: none;
	cursor:not-allowed;
	background-color: #ddd;
}
button:focus{
	outline: none;
}
.main-button{
	background: #549C79;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	color:white;
	border: none;
	
}
.secondary-button{
	border: 1px solid #549C79;
	box-sizing: border-box;
	background-color: transparent;
	color:#549C79;
}

.main-button:hover{
	box-shadow: none;
	background-color: #67c095;
}
.secondary-button:hover{
	background: #549C79;
	color:white;
}

.form-section {
	width: 100%;
	margin: 20px;
	padding: 10px 20px;
	border: 1px solid #549c79;
	display: flex;
	flex-direction: column;
}
.section-title {
	font-weight: bold;
	font-size: 28px;
	color: #549c79;
	margin-bottom: 20px;
}
.form-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.invalid-form {
	border: 2px solid red;
}
.valid-form {
	border: 2px solid #549c79;
}
.half-row {
	width: 49%;
}
.quarter-row {
	width: 29%;
}
.three-quarter-row {
	width: 69%;
}
.full-row {
	width: 99%;
}
.home-page-container {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
	padding-top:80px;
}